* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(5, 39, 73);
  color: #fff;
}
.mainContainer {
  display: flex;
  flex-direction: column;
}
