

.evolutionForm {
  width: 40vw;
  background-color: #7f7f85;
  padding: 1rem;
  border-radius: 0.5rem;
  /* margin-left: 1rem; */
}

.nameAndDate {
  display: flex;
  justify-content: space-between;
}

.nameInput{
  width: 25vw;
}