.evolutionForm {
  width: 40vw;
  background-color: #7f7f85;
  padding: 1rem;
  border-radius: 0.5rem;
  /* margin-left: 1rem; */
}

.nameAndDate {
  display: flex;
  justify-content: space-between;
}

.nameInput {
  width: 15rem;
}

.date-save {
  display: flex;
  justify-content: space-between;
}

.date {
  width: 15rem;
}

.save {
  width: 15rem;
  height: fit-content;
  margin: auto 0;
  padding: 0.75rem 0;
  border-radius: 0.5rem;
  font-weight: 500;
}
